name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: ./bun ci
      - name: Run Biome Linter
        run: ./bun run lint
      - name: Run Type Check
        run: ./bun run typecheck
